# // paths
local_packages_path: "~\\rez\\packages"

packages_path:
  - "~\\rez\\packages"
  - "${KNOTS_SKYNET_PATH}\\packages"

release_packages_path: "${KNOTS_SKYNET_PATH}\\packages"

package_definition_python_path: "${KNOTS_SKYNET_PATH}\\apps\\rez\\extensions\\include"
plugin_path:
  - "${KNOTS_SKYNET_PATH}\\apps\\rez\\extensions"

# // environment
default_shell: "powershell"

platform_map:
  "os":
    "windows-6.1(.*)": "windows-7"
    "windows-6.2(.*)": "windows-8"
    "windows-6.3(.*)": "windows-8.1"
    "windows-10.0.1(.*)": "windows-10"
    "windows-10.0.22(.*)": "windows-11"

# // caching
cache_packages_path: "${REZ_CACHE_PACKAGES_PATH}"
default_cachable: false

# // plugins

# configure plugins settings
plugins:
  release_vcs:
    git:
      allow_no_upstream: true
  release_hook:
    doc_publish:
      publish_command_attr_name: doc_publish_command
      publish_require_attr_name: doc_publish_requires

# enable plugins
release_hooks:
  - doc_publish

# // coloring
color_enabled: force